* {
    background-color: black;
}
body {
    color: white;
    font-family: 'Roboto Slab', serif;
}
p{
    font-size: 2.5vw;
}
.container-fluid {
    padding-top: 50px;
}

.game-section{
    background-color: white;
}

.lol-logo {
    width: 750px;
    max-width: 100%;
    height: auto;
}