
body {
    color: white;
    font-family: 'Roboto Slab', serif;
    background-image: url(../images/Dark-Grey-bg.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
}
p{
    font-size: 2.5vw;

}
.container-fluid {
    padding-top: 50px;
}

.lol-logo {
    width: 750px;
    max-width: 100%;
    height: auto;
}
button{
    width: 200px;
    height: auto;
}
.progress {
    width: 40vw;
    margin-left: auto; 
    margin-right:auto; 
    height: 20px;
}